<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="classes">
    <test name="GoBear Assignment">
        <classes>
            <class name="Test.TestShowDefaultCard"/>
            <class name="Test.TestSortLowToHigh"/>
            <class name="Test.TestPromotionFilter"/>
            <class name="Test.TestDetailPolicyFilter"/>
            <!--<class name="Test.TestSortLowToHigh"/>-->
            <!--<class name="Test.TestDetailPolicyFilter"/>-->
        </classes>
    </test>
</suite>